body{
    font-family: 'Poppins';
}
.footer{
    height: 50px!important;
    width: 100%;
    position: fixed;
    bottom: 8vh;
    display: flex;
    line-height: 90px;
    justify-content: space-evenly;
}
#name{
    font-weight: bolder;
    color:#011C31;
}
#name-sub{
    color:#232323;
}
.card{
    border-radius: 1.5rem!important;
}

.balance-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#balance{
    font-weight: bolder;
    color:#005348;
    font-size:4rem;
}
#balance-sub{
    color:#011C31;
    font-size: 2rem;
}


.signout-div{
    display: flex;
    justify-content: flex-end;
}
.home-background{
    padding: 5% 13%;
    height: 87vh;
}
.name-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
